[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
botocore = "*"
logzero = "*"
pyyaml = "*"
jinja2 = "*"

[dev-packages]
pipenv-setup = "*"
pytest = "*"
mock = "*"
setuptools = "*"
black = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3"
